body {
  font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

section.content {
  padding: 0 16px;
  width: 600px;
}

h1,
h2,
h3 {
  padding-top: 40px;
  padding-bottom: 12px;
}

footer {
  font-size: 0.8em;
  position: fixed;
  bottom: 16px;
  right: 16px;
  /* margin: 50px 0; */
}

.add-meeting {
  padding-top: 8px;
  font-size: 0.9em;
}

.items .row {
  padding-bottom: 8px;
}

.items .row input {
  width: 100px;
  font-size: 0.9em;
}

.items select {
  padding: 2px;
  margin-right: 8px;
}

a.delete-link {
  padding-left: 8px;
  font-size: 0.9em;
}

a,
a:visited {
  color: #147efb;
}
